.bars{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}


.card{
    width: 250px;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
}
.card img{
    width: 200px;
}